:root {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;
    --color1: #4594EB;
    --color1-translucent: rgba(69, 148, 235, 0.79);
    --color1-text: #ffffff;
    --color1-text2: #af1940;
    --color1-logo-s1: #ad002d;
    --color1-logo-s2: #ffffff;
    --color1-logo-s3: #ffffff;
    --color1-logo-text: #ffffff;
    --color1-btn: #ad002d;
    --color1-btn-text: #ffffff;
    --color2: #EB665B;
    --color2-text: #ffffff;
    --color2-text2: #000000;
    --color4: #ffffff;
    --color4-text: #000000;
    --color4-text2: #363636;
    --color4-text3: #4594EB;
    --color4-logo-s1: #4594EB;
    --color4-logo-s2: #ad002d;
    --color4-logo-s3: #ffffff;
    --color4-logo-text: #4594EB;
    --color5: #1b2831;
    --color5-text: #ffffff;
    --color5-text2: #a7a7a7;
    --color5-logo-s1: #ffffff;
    --color5-logo-s2: #ff4838;
    --color5-logo-s3: #ffffff;
    --color5-logo-text: #ffffff;
    --color5-btn: #ad002d;
    --color5-btn-text: #000000;
    --color6: linear-gradient(rgba(69, 148, 235, 0.67), rgba(235, 102, 91, 0.33));
    --color6-text: #000000;
    --color6-text2: #ffffff;
}

body.dark {
    --danger: #c71c22;
    --info: #2fa4e7;
    --warn: #eab518;
    --success: #73a839;
    --color1: #2c5f97;
    --color1-translucent: rgba(44, 95, 151, 0.79);
    --color1-text: #ffffff;
    --color1-text2: #af1940;
    --color1-logo-s1: #ad002d;
    --color1-logo-s2: #ffffff;
    --color1-logo-s3: #ffffff;
    --color1-logo-text: #ffffff;
    --color1-btn: #ad002d;
    --color1-btn-text: #ffffff;
    --color2: #EB665B;
    --color2-text: #ffffff;
    --color2-text2: #000000;
    --color4: #1b2831;
    --color4-text: #ffffff;
    --color4-text2: #d1d1d1;
    --color4-text3: #4594EB;
    --color4-logo-s1: #4594EB;
    --color4-logo-s2: #ad002d;
    --color4-logo-s3: #ffffff;
    --color4-logo-text: #4594EB;
    --color5: #1b2831;
    --color5-text: #ffffff;
    --color5-text2: #a7a7a7;
    --color5-logo-s1: #ffffff;
    --color5-logo-s2: #ff4838;
    --color5-logo-s3: #ffffff;
    --color5-logo-text: #ffffff;
    --color5-btn: #ad002d;
    --color5-btn-text: #000000;
    --color6: linear-gradient(rgba(42, 99, 160, 0.67), rgba(121, 52, 47, 0.33));
    --color6-text: #000000;
    --color6-text2: #ffffff;
}
